#thirdpage{
    position: absolute;
    z-index: -1;
    top: 200%;
    width: 105%;
    height: 100%;
    background-image: url('assets/main image.png');
    background-repeat: none;
    background-size: cover;
}

#teamh1{
    text-align: center;
    width: 95%;
    font-size: 250px;
    -webkit-text-stroke: rgb(131, 131, 131) 3px;
    text-decoration: none;
    text-shadow: none;
    position: relative;
    opacity: 0.5;
    top: -17%;
    color: transparent;
    mix-blend-mode: difference;
}
